# Thư mục môi trường ảo
.venv/
venv/
env/
__pycache__/

# File database
history.db

# Thư mục build của ESP32 (nếu có)
build/

# Các file cấu hình biến môi trường
.env

static/uploads/

# Ignore large files and CAD designs
*.zip
CAD/
*.kicad_pcb
*.kicad_sch
kicad_dump.txt

# Ignore temporary python scripts
clear_faceset.py
dump_nets.py
dump_u3.py
extract_nets.py
extract_pcb.py
find.py
find_nets*.py
get_all_nets*.py
get_u3_pads.py
move_files.py

# Ignore temporary image directories
extracted_faces/
registered_face/
